<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Catering Project</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	function changeToHome() {
		clearContainer();
		clearMenuRow();
	};
	
	function changeToIngredient() {
		clearMenuRow();
		clearContainer();
		createMenuButton("button1","Get All Ingredients",getAllIngredients);
		if([[${#httpServletRequest.isUserInRole("ROLE_ADMIN")}]] || [[${#httpServletRequest.isUserInRole("ROLE_NUTRITIONIST")}]] || [[${#httpServletRequest.isUserInRole("ROLE_STOCKMANAGER")}]]){
			createMenuButton("button2","Add New Ingredient",addIngredient);
			createMenuButton("button3","Edit Ingredient",getIngredientsForEdit);
			createMenuButton("button4","Delete Ingredient",getIngredientsForDelete);
		};
		createMenuButton("button5","Add Dummy Ingredient",postDummyIngredients);
	};
	
	function changeToRecepie() {
		clearMenuRow();
		clearContainer();
		createMenuButton("button1","Get All Recepies",getAllRecepies);
		if([[${#httpServletRequest.isUserInRole("ROLE_ADMIN")}]] || [[${#httpServletRequest.isUserInRole("ROLE_CHEF")}]]){
			createMenuButton("button2","Add New Recepie",addRecepie);
			createMenuButton("button3","Edit Recepie",getRecepiesForEdit);
			createMenuButton("button4","Delete Recepie",getRecepiesForDelete);
		};
		createMenuButton("button5","Add Dummy Recepie",postDummyRecepies);
	};
	
	function changeToSettings() {
		clearMenuRow();
		clearContainer();
		createMenuButton("button1","Users",getAllUsers);
		createMenuButton("button2","Add Dummy Users",postDummyUsers);
		createMenuButton("button3","Roles",getAllRoles);
		createMenuButton("button4","Add Dummy Roles",postDummyRoles);
	};
	
	function clearContainer(){
		document.getElementById("Container").innerHTML = '';
	};
	
	function clearMenuRow(){
		document.getElementById("menuRow").innerHTML = '';
	};
	
	function removeElement(id){
		var element = document.getElementById(id);
		element.parentNode.removeChild(element);
	};
	
	
	function createMenuButton(id, text, functionName){
		var button = document.createElement("BUTTON");
		button.id = id;
		button.onclick=functionName;
		button.textContent=text;
		document.getElementById("menuRow").appendChild(button);
	};
	
	function creatOrderDropdown(){
		var dropdownSort = document.createElement("SELECT");
		dropdownSort.id="dropdownSort";
		var dropdownSortDesc = document.createElement("SELECT");
		var optionAsc = document.createElement("option");
		optionAsc.text = "Ascending";
		optionAsc.value= "Ascending";
		dropdownSortDesc.add(optionAsc);
		var optionDesc = document.createElement("option");
		optionDesc.text = "Descending";
		optionDesc.value= "Descending";
		dropdownSortDesc.add(optionDesc);
		dropdownSortDesc.id="dropdownSortDesc";
		var menuRow = document.getElementById("menuRow");
		menuRow.appendChild(dropdownSort);
		menuRow.appendChild(dropdownSortDesc);
	};
	
	function createSortDropdown(){
		var dropdownSortDesc = document.createElement("SELECT");
		var optionAsc = document.createElement("option");
		optionAsc.text = "Ascending";
		optionAsc.value= false;
		dropdownSortDesc.add(optionAsc);
		var optionDesc = document.createElement("option");
		optionDesc.text = "Descending";
		optionDesc.value= true;
		dropdownSortDesc.add(optionDesc);
		dropdownSortDesc.onchange = getAllRoles;
		dropdownSortDesc.id="dropdownSortDesc";
		var menuRow = document.getElementById("menuRow");
		menuRow.appendChild(dropdownSortDesc);
	};
	
	
	
	function createSearchInput(api){
		var apiText = api;
		var input = document.createElement("INPUT");
		input.id="searchInput";
		input.placeholder="Search...";
		var menuRow = document.getElementById("menuRow");
		menuRow.appendChild(input);
		createMenuButton("buttonSearch","Search",function (){searchData(apiText)});
	};
	
	function searchData(api){
		var search = document.getElementById("searchInput").value;
		switch(api){
			case "ingredient":
				if (search==""){
					getIngredientListSorted(api,"id",false,false,0);
				}else{
					getIngredientListSorted(api+"/"+search+"/search","id",false,false,0);
				};
				break;
			case "recepie":
				if (search==""){
					getRecepieListSorted(api);
				}else{
					getRecepieListSorted(api+"/"+search+"/search");
				};
				break;
			case "settings/role":
				if (search==""){
					getRoleListSorted(api);
				}else{
					getRoleListSorted(api+"/"+search+"/search");
				};
				break;
			case "settings/user":
				if (search==""){
					getUserListSorted(api);
				}else{
					getUserListSorted(api+"/"+search+"/search");
				};
				break;
		}
		
	};
	
	//------------------------------------------
	//DUMMY DATA CODES START - !! DELETE IN FINAL VERSION !!
	//------------------------------------------
	
	function postDummyIngredients() {
		postData("ingredient",'{"name":"Onion","type":"Vegetable","unitType":"Piece","caloriePerUnit":0.10}');
		postData("ingredient",'{"name":"Potato","type":"Vegetable","unitType":"Piece","caloriePerUnit":0.40}');
		postData("ingredient",'{"name":"Beef Meat Ball","type":"Meat","unitType":"gr","caloriePerUnit":0.15}');
		postData("ingredient",'{"name":"Black Pepper","type":"Spice","unitType":"Piece","caloriePerUnit":0.01}');
		postData("ingredient",'{"name":"Black Pepper Grinded","type":"Spice","unitType":"gr","caloriePerUnit":0.01}');
		
	};
	
	function postDummyRoles() {
		postData("settings/role",'{"name":"ROLE_USER"}');
		postData("settings/role",'{"name":"ROLE_CHEF"}');
		postData("settings/role",'{"name":"ROLE_ADMIN"}');		
	};
	
	function postDummyUsers() {
		postData("settings/user",'{"username":"user","firstName":"user name","lastName":"user last name","email":"user@cateringproject.nl","password":"password","role":{"id":1}}');
		postData("settings/user",'{"username":"admin","firstName":"admin name","lastName":"admin last name","email":"admin@cateringproject.nl","password":"password","role":{"id":2}}');
		postData("settings/user",'{"username":"chef","firstName":"chef name","lastName":"chef last name","email":"user@cateringproject.nl","password":"password","role":{"id":3}}');		
	};
	
	function postDummyRecepies() {
		postData("recepie",'{"name":"Onion soup","unitType":"Bowl","recepieType":"Soup","caloriePerPortion":45,"portionPerRecepie":10}');
		postData("recepie",'{"name":"French Fries","unitType":"Appetizer Plate","recepieType":"Fast Food","caloriePerPortion":75,"portionPerRecepie":12}');
		postData("recepie",'{"name":"Meat Balls Coctail","unitType":"Lunch Plate","recepieType":"Main Dishes","caloriePerPortion":94,"portionPerRecepie":8}');		
	};
	
	//------------------------------------------
	//DUMMY DATA CODES END - !! DELETE IN FINAL VERSION !!
	//------------------------------------------
	
	
	//------------------------------------------
	//INGREDIENTS PAGE CODES START
	//------------------------------------------	
	
	function getAllIngredients() {
		if(document.getElementById("dropdownSort")==null && document.getElementById("dropdownSortDesc")==null ){
			creatOrderDropdown();
			createSearchInput("ingredient");
			dropdownSort.onchange = getAllIngredientsSorted;
			dropdownSortDesc.onchange = getAllIngredientsSorted;
		};
		getIngredientListSorted("ingredient","id",false,true,0)
	};
	
	//For deciding sort column and direction
	function getAllIngredientsSorted() {
		var key = document.getElementById("dropdownSort").value;
		var desc = document.getElementById("dropdownSortDesc").value;
		if(desc=="Descending")
			getIngredientListSorted("ingredient",key,true,false,0);
		else
			getIngredientListSorted("ingredient",key,false,false,0);
		document.getElementById("dropdownSort").value = key;
		
	};
	
	//Add New Ingredient Function
	function postIngredient() {  
		var name = document.getElementById("name_input").value;
		var type = document.getElementById("type_input").value;
		var unit = document.getElementById("unit_type_input").value;
		var calorie = document.getElementById("calorie_per_unit_input").value;
		postData("ingredient",'{"name":"'+name+'","type":"'+type+'","unitType":"'+unit+'","caloriePerUnit":'+calorie+'}');
		
	};
	
	//Update Ingredient Function
	function putIngredient() {  
		var id = document.getElementById("id_input").value;
		var name = document.getElementById("name_input").value;
		var type = document.getElementById("type_input").value;
		var unit = document.getElementById("unit_type_input").value;
		var calorie = document.getElementById("calorie_per_unit_input").value;
		putData("ingredient",'{"id":"'+ id +'","name":"'+name+'","type":"'+type+'","unitType":"'+unit+'","caloriePerUnit":'+calorie+'}');
	};
	
	function getIngredientsForDelete() {  
		getIngredientListSorted("ingredient","id",false,true,1);
	};	
	
	function addIngredient() {  
		createIngredientForm(null);
	}
	
	function getIngredientsForEdit() {  
		getIngredientListSorted("ingredient","id",false,true,2);
	};
	
	function editIngredient(id) {  
		getOneById("ingredient",id);
	}
	
	
	//Adding New Ingredient and Editing Menu
	function createIngredientForm(myObj) { 
		clearContainer();
		var container = document.getElementById("Container");
		function addEnterance(id, title, value) {
			var div = document.createElement("DIV");
			div.className="row";
			div.style="margin-top:10px"
			var label = document.createElement("LABEL");
			var textNode = document.createTextNode(title);
			label.appendChild(textNode);
			label.htmlFor = id+"Input";
			label.className="col-sm-offset-1 col-sm-2 control-label";
			div.appendChild(label);
			var divInput = document.createElement("DIV");
			divInput.className ="col-sm-8";
			var input = document.createElement("INPUT");
			input.className ="form-control";
			input.id=id+"_input";
			input.value=value;
			divInput.appendChild(input);
			div.appendChild(divInput);
			container.appendChild(div);
		}
		if(myObj != null){
			addEnterance("id","Id", myObj.id);
			document.getElementById("id_input").disabled=true;
			addEnterance("name","Name",myObj.name);
			addEnterance("type","Type",myObj.type);
			addEnterance("unit_type","Unit Type",myObj.unitType);
			addEnterance("calorie_per_unit","Calorie Per Unit",myObj.caloriePerUnit);
		}else{
			addEnterance("name","Name",null);
			addEnterance("type","Type",null);
			addEnterance("unit_type","Unit Type",null);
			addEnterance("calorie_per_unit","Calorie Per Unit",null);
		}
		var div = document.createElement("DIV");
		div.className="row";
		div.style="margin-top:10px"
		var divButton = document.createElement("DIV");
		divButton.className ="col-sm-offset-3 col-sm-8";
		if(myObj != null){
			var textNode = document.createTextNode("Save Changes");
			var button = document.createElement("BUTTON");
			button.onclick = putIngredient;
			button.className="btn btn-default";
			button.appendChild(textNode);
			divButton.appendChild(button);
			var textNode = document.createTextNode("Cancel");
			var button = document.createElement("BUTTON");
			button.onclick = getIngredientsForEdit;
			button.className="btn btn-default";
			button.appendChild(textNode);
			divButton.appendChild(button);
		}
		else {
			var textNode = document.createTextNode("Add Ingredient");
			var button = document.createElement("BUTTON");
			button.onclick = postIngredient;
			button.className="btn btn-default";
			button.appendChild(textNode);
			divButton.appendChild(button);
		};
		div.appendChild(divButton);
		container.appendChild(div);
	};
	
	/*There is no overload in Javascript because of that I had to 
	change getDataList function  to getIngredientListSorted function 
	added first time for reading sorting headers
	added mode to be able to switch standart list to edit mode and delete mode*/
	function getIngredientListSorted(api,key,sort, firstTime, mode) {
		var myObj, myArr, x, txt = "";
		var xhttp = new XMLHttpRequest();
		clearContainer();
		var container = document.getElementById("Container");
		
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				myArr = JSON.parse(this.responseText);
				myArr = sortArray(myArr,key, sort);
				var table = document.createElement("Table");
				for (x in myArr) {
					var myObj = myArr[x];
					var row = document.createElement("TR");
					for(y in myObj) {
						var col = document.createElement("TD");
						var textNode = document.createTextNode(myObj[y]);
						col.appendChild(textNode);
						row.appendChild(col);
						if(firstTime && x==0){
							var option = document.createElement("OPTION");
							var optionText = document.createTextNode(y);
							option.appendChild(optionText);
							option.value=y;
							dropdownSort.appendChild(option);
						};
					};
					switch(mode){
					case 1:
						var buttonDelete = document.createElement("BUTTON");
						var nodeText = document.createTextNode("! Delete ! - " + myObj.name);
						buttonDelete.appendChild(nodeText);
						buttonDelete.value=myObj.id;
						buttonDelete.onclick=function (){deleteIngredient(this.value)};
						row.appendChild(buttonDelete);
						break;
						
					case 2:
						var buttonEdit = document.createElement("BUTTON");
						var nodeText = document.createTextNode("Edit - " + myObj.name);
						buttonEdit.appendChild(nodeText);
						buttonEdit.value=myObj.id;
						buttonEdit.onclick=function (){editIngredient(this.value)};
						row.appendChild(buttonEdit);
						break;
					default:
						break;
					};
					table.appendChild(row);
				};
				table.className='table table-striped table-bordered table-hover';
				container.appendChild(table);
			};
		};
		xhttp.open("GET", "http://localhost:8082/api/" + api);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send();
	}
	
	function deleteIngredient(id){
		if(confirm("Want to delete?")) deleteData("ingredient",id);
	};

	//------------------------------------------	
	//INGREDIENTS PAGE CODES END
	//------------------------------------------
	
	//------------------------------------------
	//RECEPIES PAGE CODES START
	//------------------------------------------	
	
	function getAllRecepies() {
		if(document.getElementById("dropdownSort")==null && document.getElementById("dropdownSortDesc")==null ){
			creatOrderDropdown();
			createSearchInput("recepie");
			dropdownSort.onchange = getAllRecepiesSorted;
			dropdownSortDesc.onchange = getAllRecepiesSorted;
		};
		getRecepieListSorted("recepie","name",false,true,0)
	};
	
	//For deciding sort column and direction
	function getAllRecepiesSorted() {
		var key = document.getElementById("dropdownSort").value;
		var desc = document.getElementById("dropdownSortDesc").value;
		if(desc=="Descending")
			getRecepieListSorted("recepie",key,true,false,0);
		else
			getRecepieListSorted("recepie",key,false,false,0);
		document.getElementById("dropdownSort").value = key;
	};
	
	//---------------Delete Recepie Start-----------------
	function getRecepiesForDelete() {  
		getRecepieListSorted("recepie","id",false,true,1);
	};
	
	function deleteRecepie(id){
		alert(id);
		if(confirm("Want to delete?")) {
			deleteData("recepie",id);
			deleteData('"recepie_ingredient/'+id+'/recepie/delete"',id);
		}
	};
	//----------------Delete Recepie End-------------------

	//----------------Edit Recepie Start------------------
	function getRecepiesForEdit() {  
		getRecepieListSorted("recepie","name",false,true,2);
	};
	
	/*function editRecepie(id) {  
		getOneById("recepie",id);
	}*/
	//-----------------Edit Recepie End--------------------
	
	
	//Add New Recepie Function
	//Also Checks Recepie has any Ingredient(s)
	function checkPostRecepie() {  
		var checkboxs = document.getElementsByTagName("input");
		var checkboxList =[];
		var amountList =[];
		for(var i = 0; i < checkboxs.length; i++) {
		    if(checkboxs[i].type == "checkbox") {
		    	if(checkboxs[i].checked == true) {
		    		checkboxList.push(checkboxs[i].id); 
		    		amountList.push(document.getElementById(checkboxs[i].id+"_input").value);
		    	};
		    };
		};
		if(checkboxList.length >= 1){
			var newId = document.getElementById("newId").innerHTML;
			for(var i = 0; i < checkboxList.length; i++) {
				postData("recepie_ingredient",'{"recepieId":'+ newId +',"ingredientId":'+ checkboxList[i] +',"ingredient_amount":'+ amountList[i] +'}');
			};			
		}else{
			alert("Please select 1 or more ingredients with amount for adding recepie");
		};
	};
	
	//Get's data for recepie from and converts to JSON Post Data
	function postRecepie() {	
		var name = document.getElementById("name_input").value;
		var unitType = document.getElementById("unit_type_input").value;
		var recepieType = document.getElementById("recepie_type_input").value;
		var calorie = document.getElementById("calorie_per_portion_input").value;
		var portion = document.getElementById("portion_per_recepie_input").value;
		postData("recepie",'{"name":"'+name+'","unitType":"'+unitType+'","recepieType":"'+recepieType+'","caloriePerPortion":'+calorie+',"portionPerRecepie":'+portion+'}');
		createIngredientsForRecepieForm();
	};
	
	function addRecepie() {  
		createRecepieForm(null);
	}
	
	//Adding New Recepie and Editing Menu
	function createRecepieForm(myObj) { 
		clearContainer();
		var container = document.getElementById("Container");
		function addEnterance(id, title, value) {
			var div = document.createElement("DIV");
			div.className="row";
			div.style="margin-top:10px";
			var label = document.createElement("LABEL");
			var textNode = document.createTextNode(title);
			label.appendChild(textNode);
			label.htmlFor = id+"Input";
			label.className="col-sm-offset-1 col-sm-2 control-label";
			div.appendChild(label);
			var divInput = document.createElement("DIV");
			divInput.className ="col-sm-8";
			var input = document.createElement("INPUT");
			input.className ="form-control";
			input.id=id+"_input";
			input.value=value;
			divInput.appendChild(input);
			div.appendChild(divInput);
			container.appendChild(div);
		}
		if(myObj != null){
			addEnterance("id","Id", myObj.id);
			document.getElementById("id_input").disabled=true;
			addEnterance("name","Name",myObj.name);
			addEnterance("unit_type","Unit Type",myObj.unitType);
			addEnterance("recepie_type","Recepie Type",myObj.recepieType);
			addEnterance("calorie_per_portion","Calorie Per Portion",myObj.caloriePerPortion);
			addEnterance("portion_per_recepie","Portion Per Recepie",myObj.portionPerRecepie);
		}else{
			addEnterance("name","Name",null);
			addEnterance("unit_type","Unit Type",null);
			addEnterance("recepie_type","Recepie Type",null);
			addEnterance("calorie_per_portion","Calorie Per Portion",null);
			addEnterance("portion_per_recepie","Portion Per Recepie",null);
		}
		var div = document.createElement("DIV");
		div.className="row";
		div.style="margin-top:10px"
		var divButton = document.createElement("DIV");
		divButton.className ="col-sm-offset-3 col-sm-8";
		if(myObj != null){
			var textNode = document.createTextNode("Save Changes");
			var button = document.createElement("BUTTON");
			button.onclick = putRecepie;
			button.className="btn btn-default";
			button.appendChild(textNode);
			divButton.appendChild(button);
			var textNode = document.createTextNode("Cancel");
			var button = document.createElement("BUTTON");
			button.onclick = getAllRecepies;
			button.className="btn btn-default";
			button.appendChild(textNode);
			divButton.appendChild(button);
		}
		else {
			var textNode = document.createTextNode("Add Recepie");
			var button = document.createElement("BUTTON");
			button.id = "addRecepie";
			button.onclick = postRecepie;
			button.className="btn btn-default";
			button.appendChild(textNode);
			divButton.appendChild(button);
		};
		container.appendChild(div);
		div.appendChild(divButton);
	};
	
	function createIngredientsForRecepieForm() { 
		var textNode = document.createTextNode("Add Ingredients");
		var button = document.createElement("BUTTON");
		button.onclick = checkPostRecepie;
		button.className="btn btn-default";
		button.appendChild(textNode);
		var element = document.getElementById("addRecepie");
		element.className = "btn btn-default disabled";
		element.parentNode.appendChild(button);
		getIngredientsForRecepie("ingredient");
	};
	
	function getRecepieListSorted(api,key,sort, firstTime, mode) {
		var myObj, myArr, x, txt = "";
		var xhttp = new XMLHttpRequest();
		clearContainer();
		var container = document.getElementById("Container");
		
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				myArr = JSON.parse(this.responseText);
				myArr = sortArray(myArr,key, sort);
				var table = document.createElement("Table");
				for (x in myArr) {
					var myObj = myArr[x];
					var row = document.createElement("TR");
					for(y in myObj) {
						var col = document.createElement("TD");
						var textNode = document.createTextNode(myObj[y]);
						col.appendChild(textNode);
						row.appendChild(col);
						if(firstTime && x==0){
							var option = document.createElement("OPTION");
							var optionText = document.createTextNode(y);
							option.appendChild(optionText);
							option.value=y;
							dropdownSort.appendChild(option);
						};
					};
					switch(mode){
					case 1:
						var buttonDelete = document.createElement("BUTTON");
						var nodeText = document.createTextNode("! Delete ! - " + myObj.name);
						buttonDelete.appendChild(nodeText);
						buttonDelete.value=myObj.id;
						buttonDelete.onclick=function (){deleteRecepie(this.value)};
						row.appendChild(buttonDelete);
						break;
						
					case 2:
						var buttonEdit = document.createElement("BUTTON");
						var nodeText = document.createTextNode("Edit - " + myObj.name);
						buttonEdit.appendChild(nodeText);
						buttonEdit.value=myObj.id;
						//buttonEdit.onclick=function (){editIngredient(this.value)};
						row.appendChild(buttonEdit);
						break;
					default:
						break;
					};
					table.appendChild(row);
				};
				table.className='table table-striped table-bordered table-hover';
				container.appendChild(table);
			};
		};
		xhttp.open("GET", "http://localhost:8082/api/" + api);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send();
	}
	
	function getIngredientsForRecepie(api) {
		var myObj, x, txt = "";
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var container = document.getElementById("Container");
				var div = document.createElement("DIV");
				div.className="row";
				div.style="margin-top:10px";
				var label = document.createElement("LABEL");
				var textNode = document.createTextNode("Ingredients");
				label.appendChild(textNode);
				label.className="col-sm-offset-1 col-sm-2 control-label";
				div.appendChild(label);
				var divIngredients = document.createElement("DIV");
				divIngredients.className ="col-sm-8 table-bordered";
				div.appendChild(divIngredients);
				myObj = JSON.parse(this.responseText);
				myObj = sortArray(myObj,"name", false);
				for (x in myObj){
					var divFormGroup = document.createElement("DIV");
					divFormGroup.className = "col-sm-6 form-group";
					var checkbox = document.createElement("INPUT");
					checkbox.className = "col-sm-1";
					checkbox.type = "checkbox";
					checkbox.id = myObj[x].id;
					divFormGroup.appendChild(checkbox);
					var label = document.createElement("LABEL");
					var labelText = document.createTextNode(myObj[x].name);
					label.className = "col-sm-6";
					label.appendChild(labelText);
					divFormGroup.appendChild(label);
					var divInputGroup = document.createElement("DIV");
					divInputGroup.className = "col-sm-5 input-group";
					var input = document.createElement("INPUT");
					input.type = "text";
					input.id = myObj[x].id + "_input";
					input.className = "form-control";
					input.placeholder = "Amount";
					divInputGroup.appendChild(input);
					var divInputGroupAddon = document.createElement("DIV");
					divInputGroupAddon.className = "input-group-addon";
					var addonText = document.createTextNode(myObj[x].unitType);
					divInputGroupAddon.appendChild(addonText);
					divInputGroup.appendChild(divInputGroupAddon);
					divFormGroup.appendChild(divInputGroup);
					divIngredients.appendChild(divFormGroup);
				};
				container.appendChild(div);
			};
		};
		xhttp.open("GET", "http://localhost:8082/api/" + api);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send();
	}
	
	//------------------------------------------
	//RECEPIES PAGE CODES END
	//------------------------------------------	
	
	//------------------------------------------
	//SETTINGS PAGE CODES START
	//------------------------------------------	
	
			
	function getAllUsers(){
		if(document.getElementById("searchInput")==null ){
			createSearchInput("settings/user");
		}else{
			document.getElementById("buttonSearch").onclick = function (){searchData("settings/user")};
		};
		getUserListSorted("settings/user");
	};
	
	
	function getAllRoles(){
		if(document.getElementById("searchInput")==null ){
			createSearchInput("settings/role");
		}else{
			document.getElementById("buttonSearch").onclick = function (){searchData("settings/role")};
		};
		getRoleListSorted("settings/role");
	};
	
	function editRole(id){
		
	};
	
	function deleteRole(id){
		
	};
	
	function getRoleListSorted(api) {
		var myObj, myArr, x, txt = "";
		var xhttp = new XMLHttpRequest();
		clearContainer();
		var container = document.getElementById("Container");
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				myArr = JSON.parse(this.responseText);
				myArr = sortArray(myArr,"name", false);
				var table = document.createElement("Table");
				for (x in myArr) {
					var row = document.createElement("TR");
					
					var col = document.createElement("TD");
					if(myArr[x].name != "ROLE_ADMIN"){
						var buttonEdit = document.createElement("BUTTON");
						var nodeText = document.createTextNode("Edit - " + myArr[x].name);
						buttonEdit.appendChild(nodeText);
						buttonEdit.value=myArr[x].id;
						//buttonEdit.onclick=function (){editRole(this.value)};
						col.appendChild(buttonEdit);
					}
					row.appendChild(col);
					
					var col = document.createElement("TD");
					var textNode = document.createTextNode(myArr[x].name);
					col.appendChild(textNode);
					row.appendChild(col);
					
					var col = document.createElement("TD");
					if(myArr[x].name != "ROLE_ADMIN"){
						var buttonDelete = document.createElement("BUTTON");
						var nodeText = document.createTextNode("! Delete ! - " + myArr[x].name);
						buttonDelete.appendChild(nodeText);
						buttonDelete.value=myArr[x].id;
						//buttonDelete.onclick=function (){deleteRole(this.value)};
						col.appendChild(buttonDelete);
					}
					row.appendChild(col);
					table.appendChild(row);
				};
				table.className='table table-striped table-bordered table-hover';
				container.appendChild(table);
			};
		};
		xhttp.open("GET", "http://localhost:8082/api/" + api);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send();
	}
	
	function getUserListSorted(api) {
		var myObj, myArr, x, txt = "";
		var xhttp = new XMLHttpRequest();
		clearContainer();
		var container = document.getElementById("Container");
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				myArr = JSON.parse(this.responseText);
				myArr = sortArray(myArr,"name", false);
				var table = document.createElement("Table");
				for (x in myArr) {
					var row = document.createElement("TR");
					var col = document.createElement("TD");
					var buttonEdit = document.createElement("BUTTON");
					var nodeText = document.createTextNode("Edit - " + myArr[x].username);
					buttonEdit.appendChild(nodeText);
					buttonEdit.value=myArr[x].id;
					//buttonEdit.onclick=function (){editRole(this.value)};
					col.appendChild(buttonEdit);
					row.appendChild(col);
					
					for(y in myArr[x]){
						if(y=="password" || y=="id"){continue;};
						var col = document.createElement("TD");
						if(y=="role"){
							var textNode = document.createTextNode( myArr[x][y].name);
						}else{
							var textNode = document.createTextNode( myArr[x][y]);
						}
						col.appendChild(textNode);
						row.appendChild(col);
					};

					var col = document.createElement("TD");
					var buttonDelete = document.createElement("BUTTON");
					var nodeText = document.createTextNode("! Delete ! - " + myArr[x].username);
					buttonDelete.appendChild(nodeText);
					buttonDelete.value=myArr[x].id;
					//buttonDelete.onclick=function (){deleteRole(this.value)};
					col.appendChild(buttonDelete);
					row.appendChild(col);
					table.appendChild(row);
				};
				table.className='table table-striped table-bordered table-hover';
				container.appendChild(table);
			};
		};
		xhttp.open("GET", "http://localhost:8082/api/" + api);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send();
	}
	
	
	//------------------------------------------
	//SETTINGS PAGE CODES END
	//------------------------------------------	
	
	function getData(api) {
		var myObj, x, txt = "";
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				myObj = JSON.parse(this.responseText);
			}
		};
		xhttp.open("GET", "http://localhost:8082/api/" + api);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send();
	}
	
	// Get Just 1 object for editing
	function getOneById(api,id) {
		var myObj;
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				myObj = JSON.parse(this.responseText);
				createIngredientForm(myObj);
			};
		};
		xhttp.open("GET", "http://localhost:8082/api/" + api + "/" + id + "/single" );
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send();
	}

	function postData(api,data) {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 202) {
				switch(api){
					default:
						document.getElementById("Container").innerHTML = this.responseText+" Item Added";
						break;
					case "recepie":
						var label = document.createElement("LABEL");
						var text = document.createTextNode(this.responseText);
						label.appendChild(text);
						label.style.display = "none";
						label.id="newId";
						document.getElementById("Container").appendChild(label);
						break;
				}
			}
		};
		xhttp.open("POST", "http://localhost:8082/api/" + api, true);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send(data);
	}
	
	function putData(api,data) {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 202) {
				document.getElementById("Container").innerHTML = this.responseText+" Item Updated";
			}
		};
		xhttp.open("PUT", "http://localhost:8082/api/" + api, true);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send(data);
	}
	
	
	//Sorting function for different situations
	function sortArray(array,key, sort) {
	    array.sort(function(a, b) {
	        if (a[key] < b[key])
	            return sort ? 1 : -1;
	        if (a[key] > b[key])
	            return sort ? -1 : 1;
	        return 0;
	    });
	    return array;
	};
	
	function deleteData(api,data) {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 204) {
				var container = document.getElementById("Container");
				container.innerHTML = "Item Deleted With Id: "+ data;
			}
		};
		xhttp.open("DELETE", "http://localhost:8082/api/" + api, true);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send(data);
	};
	
	function generateHtmlMenu(){
		if(![[${#httpServletRequest.isUserInRole("ROLE_ADMIN")}]]){
			removeElement("settingsMenuLi");
		};
	};
	
</script>
</head>
<body onload="generateHtmlMenu()">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">ITPH - Fase2 - Catering Project</a>
	    </div>
	    <ul id="mainMenu" class="nav navbar-nav">
	      <li class="active"><a href="#" onclick="changeToHome()">Home</a></li>
	      <li><a href="#">Page 1</a></li>
	      <li><a href="#" onclick="changeToIngredient()">Ingredients</a></li>
	      <li><a href="#" onclick="changeToRecepie()">Recepies</a></li>
	      <li id="settingsMenuLi"><a href="#" onclick="changeToSettings()">Settings</a></li>
	    </ul>
	    <div class="navbar-right">
	      	<form th:action="@{/logout}" method="post">
	      		<span th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</span>
            	<input type="submit" value="Sign Out"/>
	        </form>
		</div>
	  </div>
	</nav>
	<div class="container-fluid">
		<div id="menuRow" class="row">
        </div>
		<div id="Container" class="row">
        </div>
    </div>
</body>
</html>