<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Catering Project</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="js/bootstrap.min.js"></script>
<script>
	function dummyData(){ //JUST FOR DUMMY DATA - DELETE AT FINAL PROJECT
		postData("dummy","{}");
		removeElement("dummyDataMenuLi");
	}
	function changeToHome() {
		clearContainer();
		clearMenuRow();
	};
	
	function changeToIngredient() {
		clearMenuRow();
		clearContainer();
		createMenuButton("button1","Get All Ingredients",getAllIngredients);
		if([[${#httpServletRequest.isUserInRole("ROLE_ADMIN")}]] || [[${#httpServletRequest.isUserInRole("ROLE_NUTRITIONIST")}]] || [[${#httpServletRequest.isUserInRole("ROLE_STOCKMANAGER")}]]){
			createMenuButton("button2","Add New Ingredient",addIngredient);
			createMenuButton("button3","Edit Ingredient",getIngredientsForEdit);
			createMenuButton("button4","Delete Ingredient",getIngredientsForDelete);
		};
	};
	
	function changeToRecepie() {
		clearMenuRow();
		clearContainer();
		createMenuButton("button1","Get All Recepies",getAllRecepies);
		if([[${#httpServletRequest.isUserInRole("ROLE_ADMIN")}]] || [[${#httpServletRequest.isUserInRole("ROLE_CHEF")}]]){
			createMenuButton("button2","Add New Recepie",addRecepie);
			createMenuButton("button3","Edit Recepie",getRecepiesForEdit);
			createMenuButton("button4","Delete Recepie",getRecepiesForDelete);
		};
	};
	
	function changeToSettings() {
		clearMenuRow();
		clearContainer();
		createMenuButton("button1","Users",getAllUsers);
		createMenuButton("button3","Roles",getAllRoles);
	};
	
	function changeToMealList(){
		clearMenuRow();
		clearContainer();
		createMenuButton("button1","Get All Meal Lists",getAllMealLists);
		if([[${#httpServletRequest.isUserInRole("ROLE_ADMIN")}]] || [[${#httpServletRequest.isUserInRole("ROLE_NUTRITIONIST")}]] ){
			createMenuButton("button2","Add New Meal List",addMealList);
			createMenuButton("button3","Edit Meal List",getMealListsForEdit);
			createMenuButton("button4","Delete Meal List",getMealListsForDelete);
		};
	};
	
	function changeToOrderMeal() {
		clearMenuRow();
		clearContainer();
		createMenuButton("button1","Get All Meal Orders",getAllOrderMeals);
	};
	
	function changeToCustomer() {
		clearMenuRow();
		clearContainer();
		createMenuButton("button1","Get All Customers",getAllCustomers);
	};
	
	function changeToStock() {
		clearMenuRow();
		clearContainer();
		createMenuButton("button1","Get All Stock Levels",getAllStocks);
	};
	
	function clearContainer(){
		document.getElementById("Container").innerHTML = '';
	};
	
	function clearMenuRow(){
		document.getElementById("menuRow").innerHTML = '';
	};
	
	function removeElement(id){
		var element = document.getElementById(id);
		element.parentNode.removeChild(element);
	};
	
	
	function createMenuButton(id, text, functionName){
		var button = document.createElement("BUTTON");
		button.id = id;
		button.onclick=functionName;
		button.textContent=text;
		document.getElementById("menuRow").appendChild(button);
	};
	
	function creatOrderDropdown(){
		var dropdownSort = document.createElement("SELECT");
		dropdownSort.id="dropdownSort";
		var dropdownSortDesc = document.createElement("SELECT");
		var optionAsc = document.createElement("option");
		optionAsc.text = "Ascending";
		optionAsc.value= "Ascending";
		dropdownSortDesc.add(optionAsc);
		var optionDesc = document.createElement("option");
		optionDesc.text = "Descending";
		optionDesc.value= "Descending";
		dropdownSortDesc.add(optionDesc);
		dropdownSortDesc.id="dropdownSortDesc";
		var menuRow = document.getElementById("menuRow");
		menuRow.appendChild(dropdownSort);
		menuRow.appendChild(dropdownSortDesc);
	};
	
	function createSortDropdown(){
		var dropdownSortDesc = document.createElement("SELECT");
		var optionAsc = document.createElement("option");
		optionAsc.text = "Ascending";
		optionAsc.value= false;
		dropdownSortDesc.add(optionAsc);
		var optionDesc = document.createElement("option");
		optionDesc.text = "Descending";
		optionDesc.value= true;
		dropdownSortDesc.add(optionDesc);
		dropdownSortDesc.onchange = getAllRoles;
		dropdownSortDesc.id="dropdownSortDesc";
		var menuRow = document.getElementById("menuRow");
		menuRow.appendChild(dropdownSortDesc);
	};
	
	
	
	function createSearchInput(api){
		var apiText = api;
		var input = document.createElement("INPUT");
		input.id="searchInput";
		input.placeholder="Search...";
		var menuRow = document.getElementById("menuRow");
		menuRow.appendChild(input);
		createMenuButton("buttonSearch","Search",function (){searchData(apiText)});
	};
	
	function searchData(api){
		var search = document.getElementById("searchInput").value;
		switch(api){
			case "ingredient":
				if (search==""){
					getListSorted(api,"id",false,false,0);
				}else{
					getListSorted(api+"/"+search+"/search","id",false,false,0);
				};
				break;
			case "recepie":
				if (search==""){
					getListSorted(api);
				}else{
					getListSorted(api+"/"+search+"/search");
				};
				break;
			case "stock":
				if (search==""){
					getListSorted(api);
				}else{
					getListSorted(api+"/"+search+"/search");
				};
				break;
			case "settings/role":
				if (search==""){
					getRoleListSorted(api);
				}else{
					getRoleListSorted(api+"/"+search+"/search");
				};
				break;
			case "settings/user":
				if (search==""){
					getUserListSorted(api);
				}else{
					getUserListSorted(api+"/"+search+"/search");
				};
				break;
		}
		
	};

	//------------------------------------------
	//CUSTOMER PAGE CODES START
	//------------------------------------------	
	
	function getAllCustomers() {
		orderMealDropdownCreate();
		getListSorted("customer","name",false,true,0)
	};
	
	function customerDropdownCreate(){
		if(document.getElementById("dropdownSort")==null && document.getElementById("dropdownSortDesc")==null ){
			creatOrderDropdown();
			createSearchInput("customer");
			dropdownSort.onchange = getAllCustomersSorted;
			dropdownSortDesc.onchange = getAllCustomersSorted;
		};
	};
	
	function getAllCustomersSorted() {
		var key = document.getElementById("dropdownSort").value;
		var desc = document.getElementById("dropdownSortDesc").value;
		if(desc=="Descending")
			getListSorted("customer",key,true,false,0);
		else
			getListSorted("customer",key,false,false,0);
		document.getElementById("dropdownSort").value = key;
		
	};
	
	//------------------------------------------
	//CUSTOMER PAGE CODES END
	//------------------------------------------	
	
	//------------------------------------------
	//ORDER MEAL PAGE CODES START
	//------------------------------------------	
	
	function getAllOrderMeals() {
		orderMealDropdownCreate();
		getListSorted("ordermeal","name",false,true,0)
	};
	
	function orderMealDropdownCreate(){
		if(document.getElementById("dropdownSort")==null && document.getElementById("dropdownSortDesc")==null ){
			creatOrderDropdown();
			createSearchInput("ordermeal");
			dropdownSort.onchange = getAllOrderMealsSorted;
			dropdownSortDesc.onchange = getAllOrderMealsSorted;
		};
	};
	
	function getAllOrderMealsSorted() {
		var key = document.getElementById("dropdownSort").value;
		var desc = document.getElementById("dropdownSortDesc").value;
		if(desc=="Descending")
			getListSorted("ordermeal",key,true,false,0);
		else
			getListSorted("ordermeal",key,false,false,0);
		document.getElementById("dropdownSort").value = key;
		
	};
	
	//------------------------------------------
	//ORDER MEAL PAGE CODES END
	//------------------------------------------	
	
	//------------------------------------------
	//MEAL LIST PAGE CODES START
	//------------------------------------------	
	function mealListDropdownCreate(){
		if(document.getElementById("dropdownSort")==null && document.getElementById("dropdownSortDesc")==null ){
			creatOrderDropdown();
			createSearchInput("meallist");
			dropdownSort.onchange = getAllMealListsSorted;
			dropdownSortDesc.onchange = getAllMealListsSorted;
		};
	};
	
	function getAllMealLists() {
		mealListDropdownCreate();
		getListSorted("meallist","name",false,true,0)
	};
	
	function getAllMealListsSorted() {
		var key = document.getElementById("dropdownSort").value;
		var desc = document.getElementById("dropdownSortDesc").value;
		if(desc=="Descending")
			getListSorted("meallist",key,true,false,0);
		else
			getListSorted("meallist",key,false,false,0);
		document.getElementById("dropdownSort").value = key;
		
	};
	
	function addMealList() {  
		createMealListForm(null);
	}
	
	//Adding New Meal List and Editing Menu
	function createMealListForm(myObj) { 
		clearContainer();
		var container = document.getElementById("Container");
		function addEnterance(id, title, value) {
			var div = document.createElement("DIV");
			div.className="row";
			div.style="margin-top:10px";
			var label = document.createElement("LABEL");
			var textNode = document.createTextNode(title);
			label.appendChild(textNode);
			label.htmlFor = id+"Input";
			label.className="col-sm-offset-1 col-sm-2 control-label";
			div.appendChild(label);
			var divInput = document.createElement("DIV");
			divInput.className ="col-sm-8";
			var input = document.createElement("INPUT");
			input.className ="form-control";
			input.id=id+"_input";
			input.value=value;
			divInput.appendChild(input);
			div.appendChild(divInput);
			container.appendChild(div);
		}
		if(myObj != null){
			addEnterance("id","Id", myObj.id);
			document.getElementById("id_input").disabled=true;
			addEnterance("name","Name",myObj.name);
			addEnterance("meal_type","Meal Type",myObj.mealType);
			addEnterance("calorie_per_person","Calorie Per Person",myObj.caloriePerPerson);
		}else{
			addEnterance("name","Name",null);
			addEnterance("meal_type","Meal Type",null);
			addEnterance("calorie_per_person","Calorie Per Person",null);
		}
		getMaterialsData("recepie"); //At Reusable Codes (Gets Recepies for selection)
		var div = document.createElement("DIV");
		div.className="row";
		div.style="margin-top:10px"
		var divButton = document.createElement("DIV");
		divButton.className ="col-sm-offset-3 col-sm-8";
		if(myObj != null){
			var textNode = document.createTextNode("Save Changes");
			var button = document.createElement("BUTTON");
			button.onclick = function(){checkPostMealList(true)};
			button.className="btn btn-default";
			button.appendChild(textNode);
			divButton.appendChild(button);
			var textNode = document.createTextNode("Cancel");
			var button = document.createElement("BUTTON");
			button.onclick = getAllMealLists;
			button.className="btn btn-default";
			button.appendChild(textNode);
			divButton.appendChild(button);
			getSelectedMaterialsData("meallist",myObj.id)  //At Reusable Codes (Gets selected Recepies)
		}
		else {
			var textNode = document.createTextNode("Add Meal List");
			var button = document.createElement("BUTTON");
			button.id = "addMealList";
			button.onclick = function(){checkPostMealList(false)};
			button.className="btn btn-default";
			button.appendChild(textNode);
			divButton.appendChild(button);
		};
		container.appendChild(div);
		div.appendChild(divButton);
	};

	//Add New Meal List Function
	//Also Checks Meal List has any Recepie(s)
		function checkPostMealList(putMode) {  
		var checkboxs = document.getElementsByTagName("input");
		var checkboxList = "";
		for(var i = 0; i < checkboxs.length; i++) {
		    if(checkboxs[i].type == "checkbox") {
		    	if(putMode== true){
		    		var id = document.getElementById("id_input").value;
			    	if(checkboxs[i].checked == true) {
			    		if(checkboxList.length < 1) {
			    			checkboxList = checkboxList + '{"recepie_Id":'+ checkboxs[i].id +',"recepie_amount":'+ document.getElementById(checkboxs[i].id+"_input").value +',"mealList_Id":'+id+'}';
			    		}else{
			    			checkboxList = checkboxList + ',{"recepie_Id":'+ checkboxs[i].id +',"recepie_amount":'+ document.getElementById(checkboxs[i].id+"_input").value +',"mealList_Id":'+id+'}';
			    		}
			    	};
				}else{
			    	if(checkboxs[i].checked == true) {
			    		if(checkboxList.length < 1) {
			    			checkboxList = checkboxList + '{"recepie_Id":'+ checkboxs[i].id +',"recepie_amount":'+ document.getElementById(checkboxs[i].id+"_input").value +'}';
			    		}else{
			    			checkboxList = checkboxList + ',{"recepie_Id":'+ checkboxs[i].id +',"recepie_amount":'+ document.getElementById(checkboxs[i].id+"_input").value +'}';
			    		}
			    	};
		    	};
		    };
		};
		if(checkboxList.length >= 1){
			var name = document.getElementById("name_input").value;
			var mealType = document.getElementById("meal_type_input").value;
			var calorie = document.getElementById("calorie_per_person_input").value;
			if(putMode== true){
				putData("meallist",'{"id":'+ id +',"name":"'+name+'","mealType":"'+mealType+'","caloriePerPerson":'+calorie+',"recepies":['+ checkboxList +']}');
			}else{
				postData("meallist",'{"name":"'+name+'","mealType":"'+mealType+'","caloriePerPerson":'+calorie+',"recepies":['+ checkboxList +']}');
			}
		}else{
			alert("Please select 1 or more receipe(s) with amount for adding recepie");
		};
	};

	//---------------Delete Meal List Start-----------------
	function getMealListsForDelete() { 
		mealListDropdownCreate();
		getListSorted("meallist","id",false,true,1);
	};
	
	function deleteMealList(id){
		if(confirm("Want to delete?")) {
			deleteData("meallist",id);
		}
	};
	//----------------Delete Meal List End-------------------

	//----------------Edit Meal List Start------------------
	function getMealListsForEdit() {  
		mealListDropdownCreate();
		getListSorted("meallist","id",false,true,2);
	};
	
	function editMealList(id) {  
		getOneById("meallist",id);
	};
	//-----------------Edit Meal List End--------------------
	
	//------------------------------------------
	//MEAL LIST PAGE CODES END
	//------------------------------------------	
	
	//------------------------------------------
	//INGREDIENTS PAGE CODES START
	//------------------------------------------	
	function createIngredientDropdown(){
		if(document.getElementById("dropdownSort")==null && document.getElementById("dropdownSortDesc")==null ){
			creatOrderDropdown();
			createSearchInput("ingredient");
			dropdownSort.onchange = getAllIngredientsSorted;
			dropdownSortDesc.onchange = getAllIngredientsSorted;
		};
	};
	
	function getAllIngredients() {
		createIngredientDropdown()
		getListSorted("ingredient","id",false,true,0)
	};
	
	//For deciding sort column and direction
	function getAllIngredientsSorted() {
		var key = document.getElementById("dropdownSort").value;
		var desc = document.getElementById("dropdownSortDesc").value;
		if(desc=="Descending")
			getListSorted("ingredient",key,true,false,0);
		else
			getListSorted("ingredient",key,false,false,0);
		document.getElementById("dropdownSort").value = key;
		
	};
	
	//Add New Ingredient Function
	function postIngredient() {  
		var name = document.getElementById("name_input").value;
		var type = document.getElementById("type_input").value;
		var unit = document.getElementById("unit_type_input").value;
		var calorie = document.getElementById("calorie_per_unit_input").value;
		postData("ingredient",'{"name":"'+name+'","type":"'+type+'","unitType":"'+unit+'","caloriePerUnit":'+calorie+'}');
		
	};
	
	//Update Ingredient Function
	function putIngredient() {  
		var id = document.getElementById("id_input").value;
		var name = document.getElementById("name_input").value;
		var type = document.getElementById("type_input").value;
		var unit = document.getElementById("unit_type_input").value;
		var calorie = document.getElementById("calorie_per_unit_input").value;
		putData("ingredient",'{"id":"'+ id +'","name":"'+name+'","type":"'+type+'","unitType":"'+unit+'","caloriePerUnit":'+calorie+'}');
	};
	
	function getIngredientsForDelete() {  
		createIngredientDropdown()
		getListSorted("ingredient","id",false,true,1);
	};	
	
	function addIngredient() {  
		createIngredientForm(null);
	}
	
	function getIngredientsForEdit() {  
		createIngredientDropdown()
		getListSorted("ingredient","id",false,true,2);
	};
	
	function editIngredient(id) {  
		getOneById("ingredient",id);
	}
	
	
	//Adding New Ingredient and Editing Menu
	function createIngredientForm(myObj) { 
		clearContainer();
		var container = document.getElementById("Container");
		function addEnterance(id, title, value) {
			var div = document.createElement("DIV");
			div.className="row";
			div.style="margin-top:10px"
			var label = document.createElement("LABEL");
			var textNode = document.createTextNode(title);
			label.appendChild(textNode);
			label.htmlFor = id+"Input";
			label.className="col-sm-offset-1 col-sm-2 control-label";
			div.appendChild(label);
			var divInput = document.createElement("DIV");
			divInput.className ="col-sm-8";
			var input = document.createElement("INPUT");
			input.className ="form-control";
			input.id=id+"_input";
			input.value=value;
			divInput.appendChild(input);
			div.appendChild(divInput);
			container.appendChild(div);
		}
		if(myObj != null){
			addEnterance("id","Id", myObj.id);
			document.getElementById("id_input").disabled=true;
			addEnterance("name","Name",myObj.name);
			addEnterance("type","Type",myObj.type);
			addEnterance("unit_type","Unit Type",myObj.unitType);
			addEnterance("calorie_per_unit","Calorie Per Unit",myObj.caloriePerUnit);
		}else{
			addEnterance("name","Name",null);
			addEnterance("type","Type",null);
			addEnterance("unit_type","Unit Type",null);
			addEnterance("calorie_per_unit","Calorie Per Unit",null);
		}
		var div = document.createElement("DIV");
		div.className="row";
		div.style="margin-top:10px"
		var divButton = document.createElement("DIV");
		divButton.className ="col-sm-offset-3 col-sm-8";
		if(myObj != null){
			var textNode = document.createTextNode("Save Changes");
			var button = document.createElement("BUTTON");
			button.onclick = putIngredient;
			button.className="btn btn-default";
			button.appendChild(textNode);
			divButton.appendChild(button);
			var textNode = document.createTextNode("Cancel");
			var button = document.createElement("BUTTON");
			button.onclick = getIngredientsForEdit;
			button.className="btn btn-default";
			button.appendChild(textNode);
			divButton.appendChild(button);
		}
		else {
			var textNode = document.createTextNode("Add Ingredient");
			var button = document.createElement("BUTTON");
			button.onclick = postIngredient;
			button.className="btn btn-default";
			button.appendChild(textNode);
			divButton.appendChild(button);
		};
		div.appendChild(divButton);
		container.appendChild(div);
	};
	
	function deleteIngredient(id){
		if(confirm("Want to delete?")) deleteData("ingredient",id);
	};

	//------------------------------------------	
	//INGREDIENTS PAGE CODES END
	//------------------------------------------
	
	//------------------------------------------
	//RECEPIES PAGE CODES START
	//------------------------------------------	
	function recepieDropdownCreate(){
		if(document.getElementById("dropdownSort")==null && document.getElementById("dropdownSortDesc")==null ){
			creatOrderDropdown();
			createSearchInput("recepie");
			dropdownSort.onchange = getAllRecepiesSorted;
			dropdownSortDesc.onchange = getAllRecepiesSorted;
		};
	};
	
	function getAllRecepies() {
		recepieDropdownCreate();
		getListSorted("recepie","name",false,true,0)
	};
	
	//For deciding sort column and direction
	function getAllRecepiesSorted() {
		var key = document.getElementById("dropdownSort").value;
		var desc = document.getElementById("dropdownSortDesc").value;
		if(desc=="Descending")
			getListSorted("recepie",key,true,false,0);
		else
			getListSorted("recepie",key,false,false,0);
		document.getElementById("dropdownSort").value = key;
	};
	
	//---------------Delete Recepie Start-----------------
	function getRecepiesForDelete() { 
		recepieDropdownCreate();
		getListSorted("recepie","id",false,true,1);
	};
	
	function deleteRecepie(id){
		if(confirm("Want to delete?")) {
			deleteData("recepie",id);
			deleteData('"recepie_ingredient/'+id+'/recepie/delete"',id);
		}
	};
	//----------------Delete Recepie End-------------------

	//----------------Edit Recepie Start------------------
	function getRecepiesForEdit() {  
		recepieDropdownCreate();
		getListSorted("recepie","id",false,true,2);
	};
	
	function editRecepie(id) {  
		getOneById("recepie",id);
	}
	
	//-----------------Edit Recepie End--------------------
	
	
	//Add New Recepie and Edit Recepie Function
	//Also Checks Recepie has any Ingredient(s)
	function checkPostRecepie(putMode) {  
		var checkboxs = document.getElementsByTagName("input");
		var checkboxList = "";
		for(var i = 0; i < checkboxs.length; i++) {
		    if(checkboxs[i].type == "checkbox") {
		    	if(putMode== true){
		    		var id = document.getElementById("id_input").value;
			    	if(checkboxs[i].checked == true) {
			    		if(checkboxList.length < 1) {
			    			checkboxList = checkboxList + '{"ingredient_Id":'+ checkboxs[i].id +',"ingredient_amount":'+ document.getElementById(checkboxs[i].id+"_input").value +',"recepie_Id":'+id+'}';
			    		}else{
			    			checkboxList = checkboxList + ',{"ingredient_Id":'+ checkboxs[i].id +',"ingredient_amount":'+ document.getElementById(checkboxs[i].id+"_input").value +',"recepie_Id":'+id+'}';
			    		}
			    	};
				}else{
			    	if(checkboxs[i].checked == true) {
			    		if(checkboxList.length < 1) {
			    			checkboxList = checkboxList + '{"ingredient_Id":'+ checkboxs[i].id +',"ingredient_amount":'+ document.getElementById(checkboxs[i].id+"_input").value +'}';
			    		}else{
			    			checkboxList = checkboxList + ',{"ingredient_Id":'+ checkboxs[i].id +',"ingredient_amount":'+ document.getElementById(checkboxs[i].id+"_input").value +'}';
			    		}
			    	};
		    	};
		    };
		};
		if(checkboxList.length >= 1){
			var name = document.getElementById("name_input").value;
			var unitType = document.getElementById("unit_type_input").value;
			var recepieType = document.getElementById("recepie_type_input").value;
			var calorie = document.getElementById("calorie_per_portion_input").value;
			var portion = document.getElementById("portion_per_recepie_input").value;
			if(putMode== true){
				putData("recepie",'{"id":'+ id +',"name":"'+name+'","unitType":"'+unitType+'","recepieType":"'+recepieType+'","caloriePerPortion":'+calorie+',"portionPerRecepie":'+portion+',"ingredients":['+ checkboxList +']}');
			}else{
				postData("recepie",'{"name":"'+name+'","unitType":"'+unitType+'","recepieType":"'+recepieType+'","caloriePerPortion":'+calorie+',"portionPerRecepie":'+portion+',"ingredients":['+ checkboxList +']}');
			}
		}else{
			alert("Please select 1 or more ingredients with amount for adding recepie");
		};
	};
	
	function addRecepie() {  
		createRecepieForm(null);
	}
	
	//Adding New Recepie and Editing Menu
	function createRecepieForm(myObj) { 
		clearContainer();
		var container = document.getElementById("Container");
		function addEnterance(id, title, value) {
			var div = document.createElement("DIV");
			div.className="row";
			div.style="margin-top:10px";
			var label = document.createElement("LABEL");
			var textNode = document.createTextNode(title);
			label.appendChild(textNode);
			label.htmlFor = id+"Input";
			label.className="col-sm-offset-1 col-sm-2 control-label";
			div.appendChild(label);
			var divInput = document.createElement("DIV");
			divInput.className ="col-sm-8";
			var input = document.createElement("INPUT");
			input.className ="form-control";
			input.id=id+"_input";
			input.value=value;
			divInput.appendChild(input);
			div.appendChild(divInput);
			container.appendChild(div);
		}
		if(myObj != null){
			addEnterance("id","Id", myObj.id);
			document.getElementById("id_input").disabled=true;
			addEnterance("name","Name",myObj.name);
			addEnterance("unit_type","Unit Type",myObj.unitType);
			addEnterance("recepie_type","Recepie Type",myObj.recepieType);
			addEnterance("calorie_per_portion","Calorie Per Portion",myObj.caloriePerPortion);
			addEnterance("portion_per_recepie","Portion Per Recepie",myObj.portionPerRecepie);
		}else{
			addEnterance("name","Name",null);
			addEnterance("unit_type","Unit Type",null);
			addEnterance("recepie_type","Recepie Type",null);
			addEnterance("calorie_per_portion","Calorie Per Portion",null);
			addEnterance("portion_per_recepie","Portion Per Recepie",null);
		}
		getMaterialsData("ingredient"); //At Reusable Codes (Gets Ingredients for selection)
		var div = document.createElement("DIV");
		div.className="row";
		div.style="margin-top:10px"
		var divButton = document.createElement("DIV");
		divButton.className ="col-sm-offset-3 col-sm-8";
		if(myObj != null){
			var textNode = document.createTextNode("Save Changes");
			var button = document.createElement("BUTTON");
			button.onclick = function(){checkPostRecepie(true)};
			button.className="btn btn-default";
			button.appendChild(textNode);
			divButton.appendChild(button);
			var textNode = document.createTextNode("Cancel");
			var button = document.createElement("BUTTON");
			button.onclick = getAllRecepies;
			button.className="btn btn-default";
			button.appendChild(textNode);
			divButton.appendChild(button);
			getSelectedMaterialsData("recepie",myObj.id) //At Reusable Codes (Gets selected Ingredients)
		}
		else {
			var textNode = document.createTextNode("Add Recepie");
			var button = document.createElement("BUTTON");
			button.id = "addRecepie";
			button.onclick = function(){checkPostRecepie(false)};
			button.className="btn btn-default";
			button.appendChild(textNode);
			divButton.appendChild(button);
		};
		container.appendChild(div);
		div.appendChild(divButton);
	};
	
	//------------------------------------------
	//RECEPIES PAGE CODES END
	//------------------------------------------	
	
	//------------------------------------------
	//STOCK CODES START
	//------------------------------------------	
	
	function getAllStocks() {
		stockDropdownCreate();
		getListSorted("stock","id",false,true,0)
	};
	
	function stockDropdownCreate(){
		if(document.getElementById("dropdownSort")==null && document.getElementById("dropdownSortDesc")==null ){
			creatOrderDropdown();
			createSearchInput("stock");
			dropdownSort.onchange = getAllStocksSorted;
			dropdownSortDesc.onchange = getAllStocksSorted;
		};
	};
	
	function getAllStocksSorted() {
		var key = document.getElementById("dropdownSort").value;
		var desc = document.getElementById("dropdownSortDesc").value;
		if(desc=="Descending")
			getListSorted("stock",key,true,false,0);
		else
			getListSorted("stock",key,false,false,0);
		document.getElementById("dropdownSort").value = key;
		
	};
	
	//------------------------------------------
	//STOCK PAGE CODES END
	//------------------------------------------
	
	//------------------------------------------
	//SETTINGS PAGE CODES START
	//------------------------------------------	
			
	function getAllUsers(){
		if(document.getElementById("searchInput")==null ){
			createSearchInput("settings/user");
		}else{
			document.getElementById("buttonSearch").onclick = function (){searchData("settings/user")};
		};
		getUserListSorted("settings/user");
	};
	
	
	function getAllRoles(){
		if(document.getElementById("searchInput")==null ){
			createSearchInput("settings/role");
		}else{
			document.getElementById("buttonSearch").onclick = function (){searchData("settings/role")};
		};
		getRoleListSorted("settings/role");
	};
	
	function editRole(id){
		
	};
	
	function deleteRole(id){
		
	};
	
	function getRoleListSorted(api) {
		var myObj, myArr, x, txt = "";
		var xhttp = new XMLHttpRequest();
		clearContainer();
		var container = document.getElementById("Container");
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				myArr = JSON.parse(this.responseText);
				myArr = sortArray(myArr,"name", false);
				var table = document.createElement("Table");
				for (x in myArr) {
					var row = document.createElement("TR");
					
					var col = document.createElement("TD");
					if(myArr[x].name != "ROLE_ADMIN"){
						var buttonEdit = document.createElement("BUTTON");
						var nodeText = document.createTextNode("Edit - " + myArr[x].name);
						buttonEdit.appendChild(nodeText);
						buttonEdit.value=myArr[x].id;
						//buttonEdit.onclick=function (){editRole(this.value)};
						col.appendChild(buttonEdit);
					}
					row.appendChild(col);
					
					var col = document.createElement("TD");
					var textNode = document.createTextNode(myArr[x].name);
					col.appendChild(textNode);
					row.appendChild(col);
					
					var col = document.createElement("TD");
					if(myArr[x].name != "ROLE_ADMIN"){
						var buttonDelete = document.createElement("BUTTON");
						var nodeText = document.createTextNode("! Delete ! - " + myArr[x].name);
						buttonDelete.appendChild(nodeText);
						buttonDelete.value=myArr[x].id;
						//buttonDelete.onclick=function (){deleteRole(this.value)};
						col.appendChild(buttonDelete);
					}
					row.appendChild(col);
					table.appendChild(row);
				};
				table.className='table table-striped table-bordered table-hover';
				container.appendChild(table);
			};
		};
		xhttp.open("GET", "http://localhost:8082/api/" + api);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send();
	}
	
	function getUserListSorted(api) {
		var myObj, myArr, x, txt = "";
		var xhttp = new XMLHttpRequest();
		clearContainer();
		var container = document.getElementById("Container");
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				myArr = JSON.parse(this.responseText);
				myArr = sortArray(myArr,"name", false);
				var table = document.createElement("Table");
				for (x in myArr) {
					var row = document.createElement("TR");
					var col = document.createElement("TD");
					var buttonEdit = document.createElement("BUTTON");
					var nodeText = document.createTextNode("Edit - " + myArr[x].username);
					buttonEdit.appendChild(nodeText);
					buttonEdit.value=myArr[x].id;
					//buttonEdit.onclick=function (){editRole(this.value)};
					col.appendChild(buttonEdit);
					row.appendChild(col);
					
					for(y in myArr[x]){
						if(y=="password" || y=="id"){continue;};
						var col = document.createElement("TD");
						if(y=="role"){
							var textNode = document.createTextNode( myArr[x][y].name);
						}else{
							var textNode = document.createTextNode( myArr[x][y]);
						}
						col.appendChild(textNode);
						row.appendChild(col);
					};

					var col = document.createElement("TD");
					var buttonDelete = document.createElement("BUTTON");
					var nodeText = document.createTextNode("! Delete ! - " + myArr[x].username);
					buttonDelete.appendChild(nodeText);
					buttonDelete.value=myArr[x].id;
					//buttonDelete.onclick=function (){deleteRole(this.value)};
					col.appendChild(buttonDelete);
					row.appendChild(col);
					table.appendChild(row);
				};
				table.className='table table-striped table-bordered table-hover';
				container.appendChild(table);
			};
		};
		xhttp.open("GET", "http://localhost:8082/api/" + api);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send();
	}
	
	
	//------------------------------------------
	//SETTINGS PAGE CODES END
	//------------------------------------------	
	
/*******************************************************/	
	
	//------------------------------------------//
	//      R E U S A B L E    C O D E S        //
	//------------------------------------------//
	
	
	//For getting pure data
	function getData(api) {
		var myObj, x, txt = "";
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				myObj = JSON.parse(this.responseText);
			}
		};
		xhttp.open("GET", "http://localhost:8082/api/" + api);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send();
	}

	//For posting data
	function postData(api,data) {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 202) {
				document.getElementById("Container").innerHTML = this.responseText+" Item Added";
			}
		};
		xhttp.open("POST", "http://localhost:8082/api/" + api, true);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send(data);
	}
	
	//For updating data
	function putData(api,data) {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 202) {
				document.getElementById("Container").innerHTML = this.responseText+" Item Updated";
			}
		};
		xhttp.open("PUT", "http://localhost:8082/api/" + api, true);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send(data);
	}
	
	//For deleting data
	function deleteData(api,data) {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 204) {
				if(api != "recepie_ingredient" && api != "meallist_recepie" ){
					var container = document.getElementById("Container");
					container.innerHTML = "Item Deleted With Id: "+ data;
				};
			};
		};
		xhttp.open("DELETE", "http://localhost:8082/api/" + api, true);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send(data);
	};
	
	// Get Just 1 object for editing
	function getOneById(api,id) {
		var myObj;
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				myObj = JSON.parse(this.responseText);
				switch(api){
				case "ingredient":
					createIngredientForm(myObj);
					break;
				case "recepie":
					createRecepieForm(myObj);
					break;
				case "meallist":
					createMealListForm(myObj);
					break;
				}
			};
		};
		xhttp.open("GET", "http://localhost:8082/api/" + api + "/" + id + "/single" );
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send();
	}
	
	//Reading preselected materials (Ingredients for Recepie - Recepies for Meal List)
	function getSelectedMaterialsData(api, id) {
		var myObj, x, txt = "";
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				myObj = JSON.parse(this.responseText);
				switch(api){
				case "recepie":
					myArr = myObj.ingredients;
					if(myObj != "") {
						alert("Ingredients for " + myObj.name + " recepie loading for editing");
						//I need a delay, otherwise getting ingredients code working late
					};
					for(x in myArr){
						document.getElementById(myArr[x].ingredient_Id).checked = true;
						document.getElementById(myArr[x].ingredient_Id + "_input").value = myArr[x].ingredient_amount;
					}
					break;
				case "meallist":
					myArr = myObj.recepies;
					if(myObj != "") {
						alert("Recepies for " + myObj.name + " meal list loading for editing");
						//I need a delay, otherwise getting ingredients code working late
					};
					for(x in myArr){
						document.getElementById(myArr[x].recepie_Id).checked = true;
						document.getElementById(myArr[x].recepie_Id + "_input").value = myArr[x].recepie_amount;
					}
					break;
				}
			}
		};
		xhttp.open("GET", "http://localhost:8082/api/" + api + "/" + id + "/single");
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send();
	}
	
	//For getting all materials for selection (Ingredients for Recepie - Recepies for Meal List)
	function getMaterialsData(api) {
		var myObj, x, txt = "";
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var container = document.getElementById("Container");
				var div = document.createElement("DIV");
				div.className="row";
				div.style="margin-top:10px";
				var label = document.createElement("LABEL");
				switch(api){
				case "recepie":
					var textNode = document.createTextNode("Recepies");
					break;
				case "ingredient":
					var textNode = document.createTextNode("Ingredients");
					break;
				}
				label.appendChild(textNode);
				label.className="col-sm-offset-1 col-sm-2 control-label";
				div.appendChild(label);
				var divIngredients = document.createElement("DIV");
				divIngredients.className ="col-sm-8 table-bordered";
				div.appendChild(divIngredients);
				myObj = JSON.parse(this.responseText);
				myObj = sortArray(myObj,"name", false);
				for (x in myObj){
					var divFormGroup = document.createElement("DIV");
					divFormGroup.className = "col-sm-6 form-group";
					var checkbox = document.createElement("INPUT");
					checkbox.className = "col-sm-1";
					checkbox.type = "checkbox";
					checkbox.id = myObj[x].id;
					divFormGroup.appendChild(checkbox);
					var label = document.createElement("LABEL");
					var labelText = document.createTextNode(myObj[x].name);
					label.className = "col-sm-6";
					label.appendChild(labelText);
					divFormGroup.appendChild(label);
					var divInputGroup = document.createElement("DIV");
					divInputGroup.className = "col-sm-5 input-group";
					var input = document.createElement("INPUT");
					input.type = "text";
					input.id = myObj[x].id + "_input";
					input.className = "form-control";
					input.placeholder = "Amount";
					divInputGroup.appendChild(input);
					var divInputGroupAddon = document.createElement("DIV");
					divInputGroupAddon.className = "input-group-addon";
					switch(api){
					case "recepie":
						var addonText = document.createTextNode("x"+myObj[x].portionPerRecepie + " Portion");
						break;
					case "ingredient":
						var addonText = document.createTextNode(myObj[x].unitType);
						break;
					}
					divInputGroupAddon.appendChild(addonText);
					divInputGroup.appendChild(divInputGroupAddon);
					divFormGroup.appendChild(divInputGroup);
					divIngredients.appendChild(divFormGroup);
				};
				container.appendChild(div);
			};
		};
		xhttp.open("GET", "http://localhost:8082/api/" + api);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send();
	}
	
	
	//Sorting function for different situations
	function sortArray(array,key, sort) {
	    array.sort(function(a, b) {
	        if (a[key] < b[key])
	            return sort ? 1 : -1;
	        if (a[key] > b[key])
	            return sort ? -1 : 1;
	        return 0;
	    });
	    return array;
	};
	
	
	//Gets sorted lists and creates get all - edit and delete tables
	function getListSorted(api,key,sort, firstTime, mode) {
		var myObj, myArr, x, txt = "";
		var xhttp = new XMLHttpRequest();
		clearContainer();
		var container = document.getElementById("Container");
		
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				myArr = JSON.parse(this.responseText);
				myArr = sortArray(myArr,key, sort);
				var table = document.createElement("Table");
				var isEmpty = false;
				if(document.getElementById("dropdownSort").value.length == 0) {isEmpty = true;}
				for (x in myArr) {
					var myObj = myArr[x];
					var row = document.createElement("TR");
					for(y in myObj) {
						var col = document.createElement("TD");
						var textNode = document.createTextNode(myObj[y]);
						col.appendChild(textNode);
						row.appendChild(col);
						if(x==0 && isEmpty){
							var option = document.createElement("OPTION");
							var optionText = document.createTextNode(y);
							option.appendChild(optionText);
							option.value=y;
							dropdownSort.appendChild(option);
						};
					};
					switch(mode){
					case 1:
						var buttonDelete = document.createElement("BUTTON");
						var nodeText = document.createTextNode("! Delete ! - " + myObj.name);
						buttonDelete.appendChild(nodeText);
						buttonDelete.value=myObj.id;
						buttonDelete.onclick=function (){
							switch(api){
							case "ingredient":
								deleteIngredient(this.value)
								break;
							case "recepie":
								deleteRecepie(this.value)
								break;
							case "meallist":
								deleteMealList(this.value)
								break;
							};
						};
						row.appendChild(buttonDelete);
						break;
						
					case 2:
						var buttonEdit = document.createElement("BUTTON");
						var nodeText = document.createTextNode("Edit - " + myObj.name);
						buttonEdit.appendChild(nodeText);
						buttonEdit.value=myObj.id;
						buttonEdit.onclick=function (){
							switch(api){
							case "ingredient":
								editIngredient(this.value);
								break;
							case "recepie":
								editRecepie(this.value)
								break;
							case "meallist":
								editMealList(this.value)
								break;
							};
						};
						row.appendChild(buttonEdit);
						break;
					default:
						break;
					};
					table.appendChild(row);
				};
				table.className='table table-striped table-bordered table-hover';
				container.appendChild(table);
			};
		};
		xhttp.open("GET", "http://localhost:8082/api/" + api);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send();
	}
	
	//Limiting setting menu just for admin 
	function generateHtmlMenu(){
		if(![[${#httpServletRequest.isUserInRole("ROLE_ADMIN")}]]){
			removeElement("settingsMenuLi");
		};
	};
	
</script>
</head>
<body onload="generateHtmlMenu()">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">ITPH - Fase2 - Catering Project</a>
	    </div>
	    <ul id="mainMenu" class="nav navbar-nav">
	      <li class="active"><a href="#" onclick="changeToHome()">Home</a></li>
	      <li><a href="#" onclick="changeToCustomer()">Customers</a></li>
	      <li><a href="#" onclick="changeToOrderMeal()">Meal Orders</a></li>
	      <li><a href="#" onclick="changeToMealList()">Meal Lists</a></li>
	      <li><a href="#" onclick="changeToRecepie()">Recepies</a></li>
	      <li><a href="#" onclick="changeToIngredient()">Ingredients</a></li>
	      <li><a href="#" onclick="changeToStock()">Stocks</a></li>
	      <li id="settingsMenuLi"><a href="#" onclick="changeToSettings()">Settings</a></li>
	      <li id="dummyDataMenuLi"><a href="#" onclick="dummyData()">DUMMY DATA</a></li> 
	    </ul>
	    <div class="navbar-right">
	      	<form th:action="@{/logout}" method="post">
	      		<span th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</span>
            	<input type="submit" value="Sign Out"/>
	        </form>
		</div>
	  </div>
	</nav>
	<div class="container-fluid">
		<div id="menuRow" class="row">
        </div>
		<div id="Container" class="row">
        </div>
    </div>
</body>
</html>