<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Catering Project</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">ITPH - Fase2 - Catering Project</a>
	    </div>
	  </div>
	</nav>
	<div class="container-fluid">
		<div class="row text-center">
			<h1>Welcome to Catering Project</h1>
        </div>
        <div class="row text-center">
			<h2>You must Login to continue</h2>
        </div>
        <div class="row text-center">
			<a type="button" class="btn btn-default btn-lg" th:href="@{/Catering}" >Login</a>
			<a type="button" class="btn btn-default btn-lg" th:href="@{/Customer}" >Register New Customer</a>
        </div>
    </div>
</body>
</html>